pandas  
numpy  
scikit-learn  
scipy  
flask  
gunicorn  
joblib  
nltk  
scikit-surprise  
sentence-transformers  
transformers  
spacy  
pydantic  
faiss-cpu  
polars  
flask-cors  
fastapi  
torch  
xgboost  
